@import "tailwindcss";
@plugin "daisyui";
@custom-variant jakubjanak (data-theme="jakubjanak");

:root {
  --color-base-100: #000000;
  --color-base-200: #0d0d0d;
  --color-base-300: #1a1a1a;
  --color-base-content: #ffffff;
  --color-primary: #59a67d;
  --color-primary-content: #000000;
  --color-secondary: #3a6e52;
  --color-secondary-content: #ffffff;
  --color-accent: #ffffff;
  --color-accent-content: #000000;
  --color-neutral: #1f1f1f;
  --color-neutral-content: #ffffff;
  --color-info: #3b82f6;
  --color-info-content: #ffffff;
  --color-success: #59a67d;
  --color-success-content: #000000;
  --color-warning: #eab308;
  --color-warning-content: #000000;
  --color-error: #ef4444;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
